@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  src: url(../../../resources/fonts/Gilroy-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Nekst';
  font-style: normal;
  src: url(../../../resources/fonts/Nekst-Black.woff2) format('woff2');
}
