@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  src: url(../../../resources/fonts/Gilroy-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Nekst';
  font-style: normal;
  src: url(../../../resources/fonts/Nekst-Black.woff2) format('woff2');
}

.page-header {
  max-width: 753px;

  h1 {
    font-family: $font-primary;
    font-weight: 900;
    font-size: 54px;
    line-height: 90%;
  }
}