$font-primary: 'Nekst', sans-serif;
$font-secondary: 'Gilroy', sans-serif;

$color-input-medium: #FF9514;
$color-input-light: rgba(255, 149, 20, 0.4);
$color-text-dark: #111111;
$color-text-strong: #333333;
$color-text-medium: #575757;
$color-text-light: #F3F3F4;

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  margin: 0 47px;
}
