.calc {
  width: 100%;

  .calc__form {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: space-between;
  
    .form__field {
      display: flex;
      flex-direction: column;
      width: 427px;

      .field__label {
        color: $color-text-medium;
        font-family: $font-secondary;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 20px;
        margin: 0 0 24px;
      }

      .field__wrapper {
        position: relative;
        width: 100%;

        .field__text {
          margin: 0;
          padding: 16px 24px;
          border: 0;
          width: 100%;
          box-sizing: border-box;
          background-color: $color-text-light;
          border-radius: 1rem;
          height: 4.25rem;
          color: $color-text-medium;
          font-family: $font-primary;
          font-style: normal;
          font-weight: 900;
          font-size: 30px;
          line-height: 36px;

          &:focus {
            outline: none;
            border: 1px solid #F3F3F4;
            background-color: #FFFFFF;
          }
        }
  
        .field__unit {
          position: absolute;
          color: $color-text-medium;
          font-family: $font-primary;
          font-style: normal;
          font-weight: 900;
          font-size: 30px;
          line-height: 36px;
          z-index: 10;
  
          &.price-unit {
            position: absolute;
            height: 36px;
            width: 20px;
            top: 16px;
            right: 16px;
          }

          &.fee-unit {
            position: absolute;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px 17px;
            font-size: 20px;
            line-height: 120%;
            height: 54px;
            width: 73px;
            top: 7px;
            right: 7px;
            border-radius: 16px;
            background-color: #EBEBEC;
          }

          &.term-unit {
            position: absolute;
            height: 36px;
            width: 63px;
            top: 16px;
            right: 24px;
          }
        }  
      }

      input[type=range] {
        position: relative;
        top: -10px;
        width: calc(100% - 48px);
        margin: 9px auto;
        background-color: $color-text-light;
        -webkit-appearance: none;
      }
      
      input[type=range]:focus {
        outline: none;
      }
      
      input[type=range]::-webkit-slider-runnable-track {
        background: $color-input-medium;
        border: 0.2px solid rgba(0, 0, 0, 0);
        border-radius: 1.3px;
        width: 100%;
        height: 2px;
        cursor: pointer;
      }
      
      input[type=range]::-webkit-slider-thumb {
        margin-top: -9.2px;
        width: 20px;
        height: 20px;
        -webkit-appearance: none;
        background: $color-input-medium;
        border: 0px solid rgba(0, 0, 0, 0);
        border: 0;
        border-radius: 10px;
        cursor: pointer;
      }
      
      input[type=range]:focus::-webkit-slider-runnable-track {
        background: $color-input-medium;
      }

      input[type=range]::-moz-range-track {
        background: $color-input-medium;
        border: 0.2px solid rgba(0, 0, 0, 0);
        border-radius: 1.3px;
        width: 100%;
        height: 2px;
        cursor: pointer;
      }
      
      input[type=range]::-moz-range-thumb {
        width: 20px;
        height: 20px;
        background: $color-input-medium;
        border: 0px solid rgba(0, 0, 0, 0);
        border: 0;
        border-radius: 10px;
        cursor: pointer;
      }
      
      input[type=range]::-ms-track {
        background: transparent;
        border-color: transparent;
        border-width: 10px 0;
        color: transparent;
        width: 100%;
        height: 2px;
        cursor: pointer;
      }
      
      input[type=range]::-ms-fill-lower {
        background: $color-input-medium;
        border: 0.2px solid rgba(0, 0, 0, 0);
        border-radius: 2.6px;
      }
      
      input[type=range]::-ms-fill-upper {
        background: $color-text-light;
        border: 0.2px solid rgba(0, 0, 0, 0);
        border-radius: 2.6px;
      }
      
      input[type=range]::-ms-thumb {
        width: 20px;
        height: 20px;
        background: $color-input-medium;
        border: 0px solid rgba(0, 0, 0, 0);
        border: 0;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 0px;
      }
      
      input[type=range]:focus::-ms-fill-lower {
        background: $color-input-medium;
      }
      
      input[type=range]:focus::-ms-fill-upper {
        background: $color-text-light;
      }
    }
  }

  .calc__result {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    align-items: center;
    justify-content: space-between;

    .result {
      flex-grow: 1;
      max-width: 427px;

      .result__label {
        font-family: $font-secondary;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        margin: 0 0 8px;
      }

      .result__output {
        color: $color-text-medium;
        font-family: $font-primary;
        font-style: normal;
        font-weight: 900;
        font-size: 54px;
        line-height: 90%;
      }
    }
  
    .submit {
      flex-grow: 1;
      max-width: 427px;
      font-family: $font-primary;
      font-style: normal;
      font-weight: 900;
      font-size: 30px;
      line-height: 36px;
      background-color: $color-input-medium;
      border-radius: 40px;
      color: #FFFFFF;
      height: 68px;
      border: 0;
      cursor: pointer;

      &:hover {
        background-color: $color-text-dark;
        color: #FFFFFF;
      }

      &:active {
        background-color: $color-text-medium;
        color: #FFFFFF;
      }
    }  
  }
}